<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans [
    <!ELEMENT beans (bean*)>
    <!ELEMENT bean (property*)>
    <!ELEMENT property (#PCDATA)>

    <!ATTLIST bean id ID #REQUIRED>
    <!ATTLIST bean class CDATA #IMPLIED>
    <!ATTLIST property name CDATA #IMPLIED>
    <!ATTLIST property ref IDREF #IMPLIED>
]>

<beans>
    <bean id="page" class="com.dyp.myssm.myspringmvc.PageController"/>

    <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner"/>
    <!-- DAO -->
    <bean id="userDAO" class="com.dyp.book.dao.impl.UserDAOImpl">
        <property name="queryRunner" ref="queryRunner"/>
    </bean>

    <!-- service -->
    <bean id="userService" class="com.dyp.book.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <!-- controller -->
    <bean id="user" class="com.dyp.book.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>


</beans>